.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.548);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
  background: rgb(152, 166, 139);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  list-style: none;
}

.logo {
  padding: .5rem 0;
}

.navItems {
  display: flex;
  gap: 60px;
}

.headerItem {
  color: #333; /* Cor mais branca */
  margin-left: 20px; /* Ajuste a margem entre os itens conforme necessário */
  position: relative;
  display: inline-block;
}

.headerItem::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: rgb(48, 48, 48);
  transition: width 0.5s ease, left 0.4s ease;
}

.headerItem:hover::after {
  width: 100%;
  left: 0;
}


/* Media query para telas menores */
@media (max-width: 800px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItems {
    display: none;
    flex-direction: column;
    gap: 10px; /* Ajuste a margem entre os itens conforme necessário */
    width: 8rem;
  }

  .navItems.showMenu {
    display: flex;
    background: rgb(152, 166, 139);

  }

  .headerItem {
    margin-left: 0; /* Remover margem esquerda em telas menores */
  }
}