.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text p{
  font-size: 45px; /* Defina o tamanho da fonte desejado */
}

.name{
  font-size: 50px; /* Defina o tamanho da fonte desejado */
  font-weight: bold;
  color: rgb(152, 166, 139);
}

.name2 {
  color: rgb(207, 207, 207);
}


.presentation {
  display: flex;
  flex-direction: row; /* Alinha itens em linha */
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha itens ao centro */
  width: 100%; /* Garante que a apresentação ocupe toda a largura */
}

.presentation button{
  font-size: 20px; /* Defina o tamanho da fonte desejado */
  margin-right: 20px;
  text-align: justify;
  background-color: rgb(65, 78, 53); /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
}



.presentation button:hover {
  background-color: rgb(98, 105, 92);
}

.avatar {
  align-items: center;
  margin-top: 20px;
  margin-right: 500px;


  width: 300px; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção da imagem */
  
}

.avatar img {
  width: 100%; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 4px; 

  transition: transform 0.3s; /* Adiciona um efeito de transição */
  
}

.avatar img:hover {
  transform: scale(1.2); /* Aumenta a imagem em 10% */
}


